*.pyc
*/*.pyc
*/*/*.pyc
*~
*/*~
*/*/*~
help/build
.noseids

resources.py
distances*.csv
i18n/*.qm
DistanceMatrixToCoords.zip
i18n/latest_run

.coverage
test/gisquestion224812.py
qgis-auth.db
test/gisquestion224812-2.py
htmlcov
